@model MatStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="panel">
    <div class="h1" style="text-align: center">Material Domain</div>
    <div class="panel-body">
        <p class="lead">Please enter credentials to access administration</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>User Name:</label>
                @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
            </div>
            <div class="panel-body">
                <input type="submit" value="Log in" class="btn btn-primary" />
                <a href="/" class="btn btn-primary" >Go Back</a>
            </div>          
        }
    </div>
</div>